@model SubclassBinding.Models.HostedPbx

@{
    Layout = null;
}

<fieldset>
    <legend>HostedPbx</legend>
    
    <div class="display-label">Name</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>
    
    <div class="display-label">ProductType</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ProductType)
    </div>
    
    <div class="display-label">DisplayOrder</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DisplayOrder)
    </div>
</fieldset>
