@model SubclassBinding.Models.ProductView

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>WelcomeResult</title>
</head>
<body>
    <div>
       @Html.DisplayFor(x => x.Customer)
       @Html.DisplayFor(x => x.Products) 
    </div>
</body>
</html>
